<style>
  #app {
    min-height: 100vh;
  }

  * {
    font-family: 'Raleway', sans-serif;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 1s
  }

  .fade-enter, .fade-leave-to {
    opacity: 0
  }

  .fade-leave, .fade-enter-to {
    opacity: 1;
  }

  @-moz-keyframes roll {
    100% {
      -moz-transform: rotate(360deg);
    }
  }

  @-o-keyframes roll {
    100% {
      -o-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes roll {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
</style>

<template>
  <div id="app">
    <transition name="fade">
      <router-view/>
    </transition>
  </div>
</template>

<script>
  export default {
    methods: {
      unload() {
        const self = this;
        if (self.$store.state.user.id) {
          self.$socket.emit('userLeft', {
            team: self.$store.state.user.team,
            user: self.$store.state.user
          });
        }
      }
    },
    name: 'app',
    created() {
      const self = this;
      window.addEventListener('beforeunload', self.unload);
      if (window.Notification && window.Notification.permission !== 'denied') {
        window.Notification.requestPermission((permission) => {
          if (!('permission' in window.Notification)) {
            window.Notification.permission = permission;
          }
        });
      }
    }
  };
</script>
