/* raleway-100 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'),
  url('./fonts/raleway-v12-latin-100.woff2') format('woff2'),
  url('./fonts/raleway-v12-latin-100.woff') format('woff');
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'),
  url('./fonts/raleway-v12-latin-regular.woff2') format('woff2'),
  url('./fonts/raleway-v12-latin-regular.woff') format('woff');
}

body {
  background-color: #eee;
  min-height: 100vh;
  margin: 0;
}

div.full-height {
  min-height: 100vh;
}

div.full-height.with-footer {
  min-height: calc(100vh - 60px);
}

div.stats-section {
  color: #0a014d;
  border: 1px solid #feddb3;
  background-color: #fff4e6;
  border-radius: 5px;
  padding: 0 .5rem;
  margin: .5rem;
}

div.vote-result {
  text-align: center;
  font-size: 3rem;
}

img.rounded {
  border-radius: 8px;
}

img.responsive {
  max-width: 100%;
  height: auto;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.el-button--orange {
  color: #fff;
  background-color: #fb8c00;
  border-color: #fb8c00;
}

.el-button--orange:hover {
  color: #fff;
  background-color: rgba(255, 140, 0, 0.6);
  border-color: rgba(255, 140, 0, 0.6);
}

.full-width {
  width: 100%;
}

.pull-right {
  float: right;
}
