div.story-point-collapse {
  div.el-collapse-item__header,
  div.el-collapse-item__wrap {
    padding: 0 10px;
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
.el-dialog {
  width: 90% !important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .el-dialog {
    width: 80% !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .el-dialog {
    width: 40% !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
