<style scoped>
  #loader {
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  #loader > div:first-of-type {
    display: block;
    width: 100%;
    text-align: center;
  }

  #loader > h1 {
    font-weight: 100;
  }
</style>

<template>
  <div id="loader" class="valign-wrapper">
    <div>
      <div class="preloader-wrapper big active">
        <div class="spinner-layer">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
        </div>
      </div>
    </div>
    <h1>{{message}}</h1>
  </div>
</template>

<script>
  export default {
    name: 'Loader',
    props: {
      message: {
        type: String,
        default: 'Loading...'
      }
    }
  };
</script>
