<style lang="scss" scoped>
  $paddingValue: 0.25rem 0;

  aside {
    min-height: 100vh;
    background-color: white;
    transition: width 0.25s linear;

    div.fa-3x {
      font-size: 3rem;
    }

    div.fa-wrapper {
      flex-grow: 2;
      display: flex;
      align-items: center;
    }

    img.user-avatar {
      flex-grow: 2;
    }

    #sidebar-user {
      height: 15rem;
      background-color: #0a014d;
      text-align: center;
      color: white;
      padding: 1.5rem 0;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h1 {
        margin: 0;
        font-weight: lighter;
        font-size: 2.5rem;
        padding: $paddingValue;
      }

      h2 {
        margin: 0;
        font-weight: lighter;
        font-size: 1.25rem;
        padding: $paddingValue;
      }

      #user-action-buttons {
        padding: $paddingValue;

        #scrum-master-controls {
          margin-left: 10px;
          display: inline-block;
        }
      }
    }

    #sidebar-team {
      padding: 0.5rem;

      h3 {
        margin: 0;
        font-weight: 400;
      }

      ul {
        list-style: none;
        padding-left: 0;
      }

      #empty-team {
        text-align: center;
        margin: 6rem 0;
        opacity: 0.3;
      }
    }
  }
</style>

<template>
  <el-aside class="hidden-xs-only">
    <div id="sidebar-user">
        <h1>
          {{$store.state.user.name}}
        </h1>
        <div v-if="!$store.state.user.imgUrl" class="fa-wrapper fa-3x">
          <i :class="getUserIcon($store.state.user)"></i>
        </div>
        <img class="user-avatar rounded responsive" v-else :src="getUserIcon($store.state.user)" alt="User avatar"/>
        <h2>
          {{getUserType}}
        </h2>
        <div id="user-action-buttons">
          <el-tooltip class="item" effect="light" content="Leave planning" placement="top">
            <el-button @click="leavePlanning" type="info" circle icon="fas fa-sign-out-alt"/>
          </el-tooltip>

          <scrum-master-controls v-if="$store.state.user.scrumMaster"/>
        </div>
      </div>
    <div id="sidebar-team">
      <h3>Team Members</h3>
      <ul v-if="getUserList().length > 0">
        <team-member v-for="u in getUserList()" :user="u" :key="u.id" :getUserIcon="getUserIcon" />
      </ul>
      <transition name="el-fade-in-linear">
        <div id="empty-team" v-if="getUserList().length === 0">
          <div class="fa-3x">
            <i class="fas fa-users"></i>
          </div>
          <h3>Looks like no-one has arrived yet</h3>
        </div>
      </transition>
    </div>
  </el-aside>
</template>

<script>
  import ScrumMasterControls from '@/components/scrumMasterControls/ScrumMasterControls';
  import TeamMemberItem from '@/components/sidebar/TeamMemberListItem';

  import fa from '@fortawesome/fontawesome';
  import faChevronDown from '@fortawesome/fontawesome-free-solid/faChevronDown';
  import faStar from '@fortawesome/fontawesome-free-regular/faStar';
  import faPerson from '@fortawesome/fontawesome-free-regular/faUserCircle';
  import faUsers from '@fortawesome/fontawesome-free-solid/faUsers';
  import faUndo from '@fortawesome/fontawesome-free-solid/faUndo';
  import faExit from '@fortawesome/fontawesome-free-solid/faSignOutAlt';
  import faCogs from '@fortawesome/fontawesome-free-solid/faCogs';
  import faEllipsis from '@fortawesome/fontawesome-free-solid/faEllipsisV';

  fa.library.add(faChevronDown);
  fa.library.add(faStar);
  fa.library.add(faPerson);
  fa.library.add(faUsers);
  fa.library.add(faUndo);
  fa.library.add(faExit);
  fa.library.add(faCogs);
  fa.library.add(faEllipsis);

  export default {
    components: {
      'scrum-master-controls': ScrumMasterControls,
      'team-member': TeamMemberItem
    },
    computed: {
      currentStory() {
        return !this.$store.state.currentStory ? '...' : this.$store.state.currentStory;
      },
      getUserType() {
        return !this.$store.state.user.scrumMaster ? 'Team member' : 'Scrum master';
      }
    },
    methods: {
      getUserIcon(user, isListIcon = false) {
        if (!user.imgUrl) {
          return user.scrumMaster
            ? 'far fa-star'
            : 'far fa-user-circle';
        }

        return `${user.imgUrl}?s=${isListIcon ? '24' : '128'}`;
      },
      getUserList() {
        return this.$store.state.loggedInUsers.filter(u => u.id !== this.$store.state.user.id);
      },
      leavePlanning(e) {
        e.target.blur();
        this.$confirm('Are you sure you want to leave this planning session?', 'Warning', {
          title: 'Leave planning',
          confirmButtonText: 'Leave',
          showCancelButton: false,
          closeOnModalClick: false,
          closeOnPressEscape: false,
          closeOnHashChange: false
        }).then(() => {
          this.$router.push({
            name: 'Landing'
          });
        })
          .catch(() => {
            // User chose to stay in planing
          });
      }
    },
    name: 'PlannerSidebar',
    data() {
      return {
        isCollapsed: false
      };
    }
  };
</script>
