<style lang="scss" scoped>
  li.team-member {
    padding: .25rem 0;
    width: 100%;
    display: flex;
    align-items: center;

    span:first-of-type {
      margin-left: 0.25rem;
      flex-grow: 2;
    }

    svg[data-prefix='far'] {
      width: 24px;
    }
  }
</style>

<template>
  <li class="clearfix team-member">
    <i v-if="!user.imgUrl" :class="getUserIcon(user, true)"></i>
    <img  v-else class="rounded" :src="getUserIcon(user, true)" alt="User avatar" />
    <span>{{user.name}}</span>
    <el-dropdown trigger="click" class="pull-right" :hide-on-click="false" v-if="$store.state.user.scrumMaster">
      <el-button size="mini">
        <i class="fas fa-ellipsis-v"/>
      </el-button>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item @click.native="nudgeUser" :disabled="nudgeTimeout || userKicked">{{nudgeLabel}}</el-dropdown-item>
        <el-dropdown-item @click.native="kickUser" :disabled="userKicked">{{kickLabel}}</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </li>
</template>

<script>
  export default {
    methods: {
      nudgeUser() {
        this.$socket.emit('nudgeUser', {
          team: this.$store.state.user.team,
          userId: this.user.id
        });
        this.nudgeTimeout = true;
        this.nudgeLabel = 'Nudging...';
        setTimeout(() => {
          this.nudgeTimeout = false;
          this.nudgeLabel = 'Nudge';
        }, 5000);
      },
      kickUser() {
        this.$socket.emit('kickUser', {
          team: this.$store.state.user.team,
          userId: this.user.id
        });
        this.kickLabel = 'Kicking...';
        this.userKicked = true;
      }
    },
    name: 'TeamMemberListItem',
    props: {
      user: {
        type: Object,
        required: true
      },
      getUserIcon: {
        type: Function,
        required: true
      }
    },
    data() {
      return {
        nudgeTimeout: false,
        nudgeLabel: 'Nudge',
        resetVoteTimeout: false,
        userKicked: false,
        kickLabel: 'Kick'
      };
    }
  };
</script>

