<style scoped>
  ul {
    margin-top: 0;
    padding-left: 20px;
  }
</style>

<template>
  <el-col :md="12" :sm="24">
    <div class="stats-section">
      <p>{{title}}</p>
      <el-row>
        <el-col class="vote-result" :md="{
                  span: 12,
                  push: 12
                }" :sm="24">{{vote}}</el-col>
        <el-col :md="{
                  span: 12,
                  pull: 12
                }" :sm="24">
          <ul>
            <li v-for="u in getUserIdsForVote(vote)" :key="u">
              {{getUserName(u)}}
            </li>
          </ul>
        </el-col>
      </el-row>
    </div>
  </el-col>
</template>

<script>
    export default {
      methods: {
        getUserIdsForVote(vote) {
          const votes = this.votes;
          return votes.filter(v => v.vote === vote)
            .map(v => v.userId);
        },
        getUserName(id) {
          if (id === this.$store.state.user.id) {
            return 'You';
          }
          return this.$store.state.loggedInUsers.find(u => u.id === id).name;
        }
      },
      name: 'high-low-votes',
      props: {
        title: {
          type: String,
          required: true
        },
        vote: {
          type: Number,
          required: true
        },
        votes: {
          type: Array,
          required: true
        }
      }
    };
</script>
