<style scoped>
  div.stats-section.chart {
    padding-bottom: 1rem;
  }
</style>

<template>
  <el-col :span="24">
    <div class="stats-section chart">
      <p>Vote breakdown</p>
      <el-row>
        <el-col>
          <column-chart :data="votes"
                        :colors="chartColors"
                        xtitle="Point estimate"
                        ytitle="Number of votes"
                        :library="{scales: {
                            yAxes: [{
                              ticks: {
                                beginAtZero: true,
                                stepSize: 1,
                                min: 0
                              }
                            }]
                          }
                        }">
          </column-chart>
        </el-col>
      </el-row>
    </div>
  </el-col>
</template>

<script>
  export default {
    name: 'results-chart',
    props: {
      votes: {
        type: Array,
        required: true
      }
    },
    data() {
      return {
        chartColors: [
          '#C6EBBE',
          '#38369A',
          '#A9DBB8',
          '#7CA5B8',
          '#424651',
          '#020887',
          '#868990'
        ]
      };
    }
  };
</script>
