<style lang="scss" scoped>
  div#pending-stats {
    text-align: center;

    p:first-of-type {
      margin-top: 0;
    }
  }

  div.stats-section.unanimous {
    animation: unanimous 2s cubic-bezier(1, 0, 0, 1) infinite;
    animation-direction: alternate;
    padding-bottom: 1rem;
  }

  @keyframes unanimous {
    0% {
      border: 1px solid #feddb3;
      background-color: #fff4e6;
    }

    100% {
      border: 1px solid rgba(103,194,58,.2);
      background-color: rgba(103,194,58,.1);
    }

    0% {
      border: 1px solid #feddb3;
      background-color: #fff4e6;
    }
  }
</style>

<template>
  <div>
    <el-card shadow="never">
      <div slot="header">
        <span>Team stats</span>
      </div>
      <el-collapse-transition v-if="!$store.state.showVotes">
        <div id="pending-stats">
          <p>Vote stats will be shown here when everyone has voted</p>
        </div>
      </el-collapse-transition>
      <el-collapse-transition v-else>
        <el-row>
          <template v-if="!voteIsUnanimous">
            <high-low-votes title="Highest point estimate" :vote="getHighestVote" :votes="getAllVotes()"/>
            <high-low-votes title="Lowest point estimate" :vote="getLowestVote" :votes="getAllVotes()"/>
            <results-chart :votes="getVoteBreakdown()"/>
          </template>
          <template v-else>
            <el-col :span="24" class="stats-section unanimous">
              <p>
                Unanimous decision
              </p>
              <div class="vote-result">
                {{$store.state.myVote}}
              </div>
            </el-col>
          </template>
        </el-row>
      </el-collapse-transition>
    </el-card>
  </div>
</template>

<script>
  import CollapseTransition from 'element-ui/lib/transitions/collapse-transition';

  import HighLowVotes from '@/components/voteStats/HighLowVotes';
  import ResultsChart from '@/components/voteStats/ResultsChart';

  export default {
    components: {
      'high-low-votes': HighLowVotes,
      'results-chart': ResultsChart,
      'el-collapse-transition': CollapseTransition
    },
    computed: {
      getHighestVote() {
        const votes = this.getAllVotes();
        return Math.max(...votes.map(v => v.vote));
      },
      getLowestVote() {
        const votes = this.getAllVotes();
        return Math.min(...votes.map(v => v.vote));
      },
      voteIsUnanimous() {
        // eslint-disable-next-line arrow-body-style
        return !!this.getAllVotes().reduce((a, b) => {
          return (a.vote === b.vote) ? a : NaN;
        });
      }
    },
    methods: {
      getAllVotes() {
        const votes = Array.from(this.$store.state.votes);
        votes.push({
          userId: this.$store.state.user.id,
          vote: this.$store.state.myVote
        });

        return votes;
      },
      getVoteBreakdown() {
        const votes = Array.from(this.$store.state.votes);
        votes.push({
          userId: this.$store.state.user.id,
          vote: this.$store.state.myVote
        });

        const voteCounts = new Map();
        votes.forEach((v) => {
          if (!voteCounts.has(v.vote)) {
            voteCounts.set(v.vote, 1);
          } else {
            voteCounts.set(v.vote, voteCounts.get(v.vote) + 1);
          }
        });

        return [...voteCounts.entries()].sort((a, b) => {
          if (a[1] > b[1]) {
            return -1;
          }

          if (a[1] < b[1]) {
            return 1;
          }

          return 0;
        });
      }
    },
    name: 'VoteStats'
  };
</script>
