<style>
  #error {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-content: center;
  }

  #error > #messaging {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #error h1:first-of-type {
    font-weight: 300;
    font-size: 4rem;
  }

  #error h2:first-of-type {
    font-weight: 100;
    font-size: 2rem;
  }

  p#error-code {
    color: white;
    background-color: grey;
    padding: 10px;
    border-radius: 250px;
  }
</style>

<template>
  <div id="error">
    <div id="messaging">
      <h1>
        Well, this is embarrassing...
      </h1>
      <h2>
        {{errorCodeToFriendly}}
    </h2>
    </div>
    <p id="error-code" v-if="code">
      Code: {{code}}
    </p>
  </div>
</template>

<script>
  export default {
    computed: {
      errorCodeToFriendly() {
        const self = this;
        if (!self.code) {
          return 'Somethings gone wrong, we\'re not sure what but we\'re looking into it!';
        }
        switch (self.code.toLowerCase()) {
          default:
            return 'Somethings gone wrong, we\'re not sure what but we\'re looking into it!';
        }
      }
    },
    name: 'Error',
    props: {
      code: {
        type: String
      }
    }
  };
</script>
