<style lang="scss" scoped>
  #dev-warning {
    position: absolute;
    top:0;
    width: 100%;
    text-align: center;
    background-color: #fdf6ec;
    color: #e6a23c;
    padding: .5rem 0;
  }

  h1,
  h2 {
    font-size: 3rem;
    font-weight: lighter;
    margin: 1rem 0;
  }

  h2 {
    font-size: 1rem;
  }

  #title {
    text-align: center;
  }

  #header {
    text-align: center;
  }

  #img-url {
    margin-bottom: 0;
  }

  main {
    padding-top: 0;
    padding-bottom: 0;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      padding: 0 1rem;
    }
  }

  div.flex.column.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input[type=checkbox]:disabled,
  input[type=checkbox]:disabled + label {
    cursor: not-allowed;
  }
</style>

<template>
  <div>
    <div id="dev-warning">
      <i class="fas fa-exclamation-triangle"></i>&nbsp;This is a development build, features may not work or break without warning.
    </div>
    <el-container class="full-height with-footer">
      <el-main>
        <el-row class="full-height with-footer">
          <el-col class=" flex column center full-height with-footer"
                  :lg="{
            span:6,
            offset:9
          }"
                  :md="{
          span: 12,
          offset: 6
          }"
                  :sm="{
            span: 18,
            offset: 3
          }"
                  :xs="{
            span: 24,
            offset: 0
          }"
          >
            <div id="title">
              <h1>
                Sprint Planner
              </h1>
              <h2>
                  Helping distributed teams plan their sprints
              </h2>
            </div>
            <div id="login">
              <el-card id="login-card">
                <div id="header" slot="header">
                  <img src="../assets/sprint_man.png" alt="Sprint Planner Logo" />
                </div>
                <div>
                  <el-alert
                    v-if="joinError"
                    :title="joinError"
                    type="error"
                    :closable="false"
                    show-icon>
                  </el-alert>

                  <el-form :model="user" :rules="rules" ref="loginForm">
                    <el-form-item label="Name" prop="name">
                      <el-input id="name" v-model="user.name" :autofocus="true"/>
                    </el-form-item>
                    <el-form-item label="Icon" prop="imgUrl" id="img-url">
                      <el-input id="imgUrl" v-model="user.imgUrl" />
                      <small>Only Gravatar images are currently supported</small>
                    </el-form-item>
                    <el-form-item label="Scrum team" prop="team">
                      <el-input id="team" v-model="user.team" :disabled="joinByUrl"/>
                    </el-form-item>
                    <el-form-item>
                      <el-checkbox v-model="user.scrumMaster" :disabled="joinByUrl">Scrum master</el-checkbox>
                    </el-form-item>
                    <el-form-item>
                      <el-button type="orange" @click="setUser('loginForm')" :loading="joining" class="full-width">Login</el-button>
                    </el-form-item>
                    <el-form-item>
                      <el-checkbox v-model="rememberMe">Remember me</el-checkbox>
                    </el-form-item>
                  </el-form>
                </div>
              </el-card>
            </div>
          </el-col>
        </el-row>
      </el-main>
      <el-footer>
        <a href="https://gitlab.com/Sparx/sprint-planner-ui">GitLab</a> |
        <a href="https://gitlab.com/Sparx/sprint-planner-ui/issues">Issues</a> |
        <a href="https://onesimplecoder.com">About the dev</a>
      </el-footer>
    </el-container>
  </div>
</template>

<script>
  import Vue from 'vue';
  import uuid from 'uuid';

  import fa from '@fortawesome/fontawesome';
  import faWarning from '@fortawesome/fontawesome-free-solid/faExclamationTriangle';

  import VueSocket from '../plugins/vueSocket';
  import appConfig from '../appConfig';
  import socketio from '../../node_modules/socket.io-client/dist/socket.io';

  fa.library.add(faWarning);

  export default {
    methods: {
      setUser(formRef) {
        const self = this;
        self.joinError = '';

        self.$refs[formRef].validate(async (valid) => {
          if (!valid) {
            // This doesn't always work, need to find a more reliable way
            // to force focus on the first invalid element
            const firstInvalid = document.querySelector('div.el-form-item--feedback.is-error input');
            if (firstInvalid) {
              firstInvalid.focus();
            }
            return false;
          }

          self.joining = true;

          const team = self.joinByUrl
            ? self.teamId.toLowerCase()
            : self.user.team.slice(0, 20).trim().toLowerCase();

          const scrumMaster = self.joinByUrl
            ? false
            : self.user.scrumMaster;

          let userImgUrl = self.user.imgUrl.trim();
          const queryStringIndex = userImgUrl.indexOf('?');
          if (queryStringIndex > -1) {
            userImgUrl = userImgUrl.substring(0, queryStringIndex);
          }

          const user = {
            name: self.user.name.slice(0, 20).trim(),
            id: uuid.v4(),
            team,
            scrumMaster,
            imgUrl: userImgUrl
          };
          try {
            await self.$http.post(`${appConfig.apiUrl}/user/join`, user);

            Vue.use(VueSocket, socketio(appConfig.socket.url, {
              path: appConfig.socket.path,
              query: {
                team: encodeURIComponent(user.team)
              }
            }), self.$store);

            self.$socket.emit('userArrived', {
              team: user.team,
              user
            });

            self.$store.commit('setUser', user);

            self.$router.push({
              name: 'Planner'
            });

            self.joining = false;

            if (self.rememberMe) {
              window.localStorage.setItem('user', JSON.stringify(user));
            }

            return true;
          } catch (e) {
            if (e.status === 400) {
              self.joinError = e.bodyText;
            } else {
              self.joinError = 'Opps! Something\'s gone wrong';
            }

            return false;
          } finally {
            self.joining = false;
          }
        });
      }
    },
    name: 'Landing',
    props: {
      teamId: {
        type: String,
        default: ''
      }
    },
    data() {
      const self = this;
      const requiredEmptySpaceCheck = (rule, value, callback) => {
        if (!value || !value.trim()) {
          callback(new Error('Value was empty or whitespace'));
        } else {
          callback();
        }
      };

      return {
        user: {
          name: '',
          team: self.teamId,
          scrumMaster: false,
          imgUrl: ''
        },
        rememberMe: false,
        joinError: '',
        joining: false,
        joinByUrl: !!self.teamId.trim(),
        rules: {
          name: [
            { validator: requiredEmptySpaceCheck, message: 'Please enter a name', trigger: 'blur' }
          ],
          team: [
            { validator: requiredEmptySpaceCheck, message: 'Please enter a team name', trigger: 'blur' }
          ]
        }
      };
    },
    mounted() {
      const user = window.localStorage.getItem('user');
      if (!user) {
        return;
      }

      const savedUser = JSON.parse(user);
      if (!this.joinByUrl) {
        this.user = { ...savedUser };
      } else {
        this.user = Object.assign({}, savedUser, {
          scrumMaster: false,
          team: this.teamId
        });
      }
    }
  };
</script>
