<style>
  #not-found {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #not-found > img {
    width: 30%;
  }

  #not-found > h1:last-of-type {
    font-weight: 100;
  }
</style>

<template>
  <div id="not-found">
    <h1>
      404 - Resource not found
    </h1>
    <img src="~@/assets/pug.png" alt="404 Resource Not Found"/>
    <h1>
      <small>
        Blame the pug...
      </small>
    </h1>
  </div>
</template>

<script>
  export default {
    name: 'NotFound'
  };
</script>
