<style lang="scss" scoped>
  div.el-card {
    margin-bottom: 1rem;
  }

  div#story-details,
  div#no-story {
    p:first-of-type {
      margin-top: 0;
    }
  }

  div#no-story {
    text-align: center;
  }

  code {
    font-family: monospace;
    color: #fb8c00;
    border: 1px solid #feddb3;
    background-color: #fff4e6;
    border-radius: 5px;
    padding: .25rem;
  }
</style>

<template>
  <el-col :span="24">
    <el-card shadow="never">
      <div slot="header">
        <span>Current story</span>
      </div>
      <div id="story-details" v-if="$store.state.currentStory.trim()">
        <p>
          You are currently voting on <code>{{getStoryText}}</code>
        </p>
        <p v-if="storyHasLink">
          <small><a :href="getStoryLink">Additional information</a> about this story is available to view.</small>
        </p>
      </div>
      <div id="no-story" v-else>
        <p>
          There is no story currently set
        </p>
      </div>
    </el-card>
  </el-col>
</template>

<script>
  export default {
    computed: {
      getStoryLink() {
        return decodeURIComponent(this.$store.state.currentStory.trim().split('|')[1]);
      },
      getStoryText() {
        return this.$store.state.currentStory.trim().split('|')[0];
      },
      storyHasLink() {
        const linkSeperator = this.$store.state.currentStory.indexOf('|');
        return linkSeperator > -1;
      }
    },
    name: 'current-story'
  };
</script>
