<style lang="scss" scoped>
  main {
    min-height: 100vh;

    div.empty-content {
      min-height: calc(100vh - 40px);
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-weight: lighter;
      }
    }
  }
</style>

<template>
  <el-main>
    <div id="no-scrum-master" class="empty-content" v-if="!$store.state.loggedInUsers.find(u => u.scrumMaster)">
      <h1>Waiting for scrum master to join planning...</h1>
    </div>
    <div v-else>
      <div id="no-other-users" class="empty-content" v-if="!$store.state.loggedInUsers.filter(u => u.id !== $store.state.user.id).length">
        <h1>Waiting for other team members to join planning...</h1>
      </div>
      <el-row v-else :gutter="20">
        <el-col :md="12" :sm="24">
          <el-row>
            <current-story/>
            <story-points/>
            <team-results/>
          </el-row>
        </el-col>
        <el-col :md="12" :sm="24">
          <vote-stats />
        </el-col>
      </el-row>
    </div>
  </el-main>
</template>

<script>
  import CurrentStory from '@/components/planner/CurrentStory';
  import StoryPoints from '@/components/planner/StoryPoints';
  import TeamResults from '@/components/planner/TeamResults';
  import VoteStats from '@/components/voteStats/VoteStats';

  export default {
    components: {
      'current-story': CurrentStory,
      'story-points': StoryPoints,
      'team-results': TeamResults,
      'vote-stats': VoteStats
    },
    computed: {
      otherUsers() {
        const self = this;
        return self.$store.state.loggedInUsers.filter(u => u.id !== self.$store.state.user.id);
      }
    },
    name: 'PlannerMain'
  };
</script>
