<style scoped>
  section {
    min-height: 100vh;
  }
</style>

<template>
  <el-container>
    <sidebar />
    <planner-main />

    <audio ref="userNudge">
      <source :src="getUserNudgeMp3" type="audio/mp3">
      <source :src="getUserNudgeWebM" type="audio/webm">
    </audio>
  </el-container>
</template>

<script>
  import Loader from '@/components/common/Loader';
  import Sidebar from '@/components/sidebar/Sidebar';
  import PlannerMain from '@/components/planner/PlannerMain';

  import SprintMan from '@/assets/sprint_man.png';
  import UserNudgeMp3 from '@/assets/nudge.mp3';
  import UserNudgeWebM from '@/assets/nudge.webm';

  export default {
    computed: {
      getUserNudgeMp3() {
        return UserNudgeMp3;
      },
      getUserNudgeWebM() {
        return UserNudgeWebM;
      }
    },
    components: {
      loader: Loader,
      sidebar: Sidebar,
      'planner-main': PlannerMain
    },
    methods: {
      showNotification(title, body, tag) {
        const notification = new Notification(title, {
          icon: SprintMan,
          body,
          tag
        });
        // eslint-disable-next-line func-names
        notification.onclick = function () {
          parent.focus();
          window.focus();
          this.close();
        };
        setTimeout(notification.close.bind(notification), 5000);
      }
    },
    name: 'PlannerBase',
    beforeDestroy() {
      this.$socket.emit('userLeft', {
        team: this.$store.state.user.team,
        user: this.$store.state.user
      });
      this.$store.commit('endPlanning');
    },
    mounted() {
      const self = this;
      self.$options.sockets.nudgeUser = (userId) => {
        if (self.$store.state.user.id !== userId) return;
        if (window.Notification.permission === 'granted') {
          self.showNotification('Nudge!',
            'You\'re needed back in planning!',
            'SprintPlannerNudge');
        }
        const audio = document.getElementsByTagName('audio')[0];
        audio.play();
      };
      self.$options.sockets.showVotes = () => {
        if (window.Notification.permission === 'granted') {
          self.showNotification('Voting over',
            'Voting is over!',
            'SprintPlannerVotingOver');
        }
      };
      self.$options.sockets.resetUserVote = (userId) => {
        self.$store.commit('SOCKET_resetUserVote', userId);
        if (self.$store.state.user.id !== userId) return;
        self.$store.commit('resetVote');
      };
      self.$options.sockets.userKicked = (userId) => {
        if (self.$store.state.user.id !== userId) return;
        self.$router.push({
          name: 'Landing'
        });
      };
      self.$options.sockets.setStory = (story) => {
        if (window.Notification.permission === 'granted') {
          self.showNotification('New story set',
            `The sprint team is now pointing: ${story.trim().split('|')[0]}`,
            'SprintPlannerStorySet');
        }
      };
      self.$options.sockets.endPlanning = () => {
        self.$router.push({
          name: 'Landing'
        });
      };
    }
  };
</script>
