<style lang="scss" scoped>
  hr {
    opacity: 0.2;
  }

  div#story-points {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    button {
      margin: 0.25rem;
    }
  }

  div.el-card {
    margin-bottom: 1rem;

    p:first-of-type {
      margin-top: 0;
    }
  }

  button.selected,
  button.selected:disabled {
    background-color: #fb8c00;
    border-color: #fb8c00;
    color: white;
  }
</style>

<template>
  <el-col :span="24">
    <el-card shadow="never">
      <div slot="header">
        <span>Story points</span>
      </div>
      <p>
        Choose your point estimate from the selections below.
      </p>
      <div id="story-points">
        <el-button v-for="v in values" :key="v" round @click="updateVote(v)"
                   :class="{selected: $store.state.myVote === v}" :disabled="$store.state.voted">
          {{v}}
        </el-button>
      </div>
      <el-button type="orange" :disabled="$store.state.myVote === 0 || $store.state.voted" @click="confirmVote">
        Confirm
      </el-button>
      <el-button type="default" :disabled="!$store.state.voted || $store.state.showVotes" @click="resetVote">
        Reset vote
      </el-button>
    </el-card>
  </el-col>
</template>

<script>
  export default {
    methods: {
      confirmVote() {
        if (this.$store.state.showVotes) {
          return;
        }
        if (!this.$store.state.myVote) return;

        this.$store.commit('voted');
        this.$socket.emit('userVoted', {
          team: this.$store.state.user.team,
          vote: {
            userId: this.$store.state.user.id,
            vote: this.$store.state.myVote
          }
        });
      },
      resetVote() {
        if (this.$store.state.showVotes) {
          return;
        }
        this.$store.commit('resetVote');
        this.$socket.emit('resetVote', {
          team: this.$store.state.user.team,
          userId: this.$store.state.user.id
        });
      },
      updateVote(value) {
        if (this.$store.state.showVotes) {
          return;
        }
        this.$store.commit('updateVote', value);
      }
    },
    name: 'PlannerCard',
    data() {
      return {
        values: [1, 2, 3, 5, 8, 13, 21]
      };
    }
  };
</script>
