<style lang="scss" scoped>
  div.el-card {
    margin-bottom: 1rem;
  }

  div#still-voting {
    text-align: center;
  }

  span.el-tag {
    font-size: 1rem;
    height: 2rem;
    padding: 0.5rem;
    line-height: 1rem;
    margin: .25rem;
  }

  span.el-tag.your-vote {
    background-color: white;
    border: 1px solid rgba(251, 140, 0, 0.2);
  }
</style>

<template>
  <el-col :span="24">
    <el-card shadow="never">
      <div slot="header">
        <span>Team votes</span>
      </div>
      <div>
        <el-collapse-transition v-if="!$store.state.showVotes">
          <div id="still-voting">
            <el-progress type="circle" :percentage="getVotePercentage()" :color="getVoteColour" :status="getVoteStatus"/>
            <p>{{getVoteMessage}}</p>
            <template v-if="getVotes.length > 0">
              <el-tag type="success" v-for="v in getVotes" :key="v.userId">{{getUserName(v.userId)}} voted</el-tag>
            </template>
          </div>
        </el-collapse-transition>
        <el-collapse-transition v-else>
          <el-row>
            <el-tag :class="getVoteClasses(v.userId)" v-for="v in getVotes" :key="v.userId">{{v.vote}} - {{getUserName(v.userId)}}</el-tag>
          </el-row>
        </el-collapse-transition>
      </div>
    </el-card>
  </el-col>
</template>

<script>
  import CollapseTransition from 'element-ui/lib/transitions/collapse-transition';

  export default {
    components: {
      'el-collapse-transition': CollapseTransition
    },
    computed: {
      getVoteColour() {
        if (this.getVotePercentage() === 100) {
          return '';
        }

        return '#fb8c00';
      },
      getVoteMessage() {
        if (this.getVotePercentage() === 100) {
          return 'Voting complete!';
        }

        return 'Voting in progress...';
      },
      getVotes() {
        const votes = [];
        if (this.$store.state.voted) {
          votes.push({
            userId: this.$store.state.user.id,
            vote: this.$store.state.myVote
          });
        }

        return votes.concat(Array.from(this.$store.state.votes));
      },
      getVoteStatus() {
        if (this.getVotePercentage() === 100) {
          return 'success';
        }

        return '';
      }
    },
    methods: {
      getUserName(id) {
        if (id === this.$store.state.user.id) {
          return 'You';
        }

        return this.$store.state.loggedInUsers.find(u => u.id === id).name;
      },
      getVoteClasses(id) {
        return {
          'your-vote': id === this.$store.state.user.id
        };
      },
      getVotePercentage() {
        const allUsers = this.$store.state.loggedInUsers.length;
        let voted = this.$store.state.votes.length;
        if (this.$store.state.voted) {
          voted += 1;
        }
        if (!allUsers && !voted) {
          return 0;
        }

        if (allUsers.length === voted) {
          return 100;
        }

        return Math.round((voted / allUsers) * 100);
      }
    },
    name: 'TeamResults'
  };
</script>
