<style lang="scss" scoped>
  #end-planning {
    color: #fff;
    background-color: #f56c6c;
  }
</style>

<template>
  <div id="scrum-master-controls">
    <el-dropdown trigger="click">
      <el-button type="orange" circle icon="fas fa-cogs"/>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item id="copy-team-url" data-clipboard-action="copy" :data-clipboard-text="getTeamUrl()">Copy team URL</el-dropdown-item>
        <el-dropdown-item @click.native="resetVotes">Reset all votes</el-dropdown-item>
        <el-dropdown-item @click.native="showVotes">Show all votes</el-dropdown-item>
        <el-dropdown-item @click.native="storyDialogVisible = true">Set new story</el-dropdown-item>
        <el-dropdown-item :divided="true" id="end-planning" @click.native="endPlanning">End planning</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>

    <story-dialog :isVisible="storyDialogVisible" @update-story="setStory" @dismiss-dialog="dismissDialog"/>
  </div>
</template>

<script>
  import ClipboardJS from 'clipboard';

  import StoryDialog from '@/components/scrumMasterControls/StoryDialog';

  import appConfig from '../../appConfig/index';

  let clippy;

  export default {
    components: {
      'story-dialog': StoryDialog
    },
    methods: {
      dismissDialog(dialogVisibilityProp) {
        this[dialogVisibilityProp] = false;
      },
      getTeamUrl() {
        return `${appConfig.appBaseUrl}/${this.$store.state.user.team}`;
      },
      endPlanning() {
        this.$socket.emit('endPlanning', this.$store.state.user.team);
        this.$store.commit('endPlanning');
        this.$router.push({
          name: 'Landing'
        });
      },
      resetVotes() {
        this.$socket.emit('clearVotes', this.$store.state.user.team);
        this.$store.commit('clearVotes');
      },
      setStory(newStory) {
        this.$store.commit('setStory', newStory);
        const payload = {
          team: this.$store.state.user.team,
          story: newStory
        };
        this.$socket.emit('setStory', payload);
        this.storyDialogVisible = false;
        this.$message({
          message: 'Story name updated',
          type: 'success'
        });
      },
      showVotes() {
        const allUsers = this.$store.state.loggedInUsers.length;
        let voted = this.$store.state.votes.length;
        if (this.$store.state.voted) {
          voted += 1;
        }

        if (allUsers !== voted) {
          this.$message({
            message: 'Please wait for all users to finish voting',
            type: 'info'
          });
          return;
        }

        this.$socket.emit('showVotes', this.$store.state.user.team);
        this.$store.commit('showVotes');
      }
    },
    name: 'ScrumMasterControls',
    data() {
      return {
        storyDialogVisible: false
      };
    },
    // Lifecycle Events
    beforeDestroy() {
      clippy.destroy();
    },
    mounted() {
      const copyTarget = document.getElementById('copy-team-url');
      clippy = new ClipboardJS(copyTarget);
      clippy.on('success', () => {
        this.$message({
          message: 'Team URL copied to clipboard',
          type: 'success'
        });
      });
      clippy.on('error', () => {
        this.$message({
          message: 'Failed to copy team URL',
          type: 'error'
        });
      });
    }
  };
</script>
