<style lang="scss" scoped>
  #story-info {
    text-align: left;

    p{
      margin: 0;
    }
  }

  hr {
    opacity: 0.2;
  }
</style>

<template>
  <el-dialog
    title="Set new story"
    class="story-dialog"
    :visible="isVisible"
    :before-close="dismissDialog"
    :close-on-click-modal="false">
    <div id="story-info">
      <p>
        Set a new story for the team to vote on. You can also optionally provide a URL to the story being voted on so team members can view additional information such as acceptance criteria, UI mock-ups etc.
      </p>
    </div>
    <hr/>
    <el-form @keyup.native.enter="updateStory"
             :model="newStory"
             :rules="rules"
             ref="newStoryForm">
      <el-row>
        <el-col :span="12" :offset="6">
          <el-form-item label="Story ID" for="story-id" prop="id">
            <el-input v-model="newStory.id" id="story-id"/>
          </el-form-item>
        </el-col>
        <el-col :span="12" :offset="6">
          <el-form-item label="Story URL" for="story-url" prop="url">
            <el-input v-model="newStory.url" id="story-url"/>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="updateStory">Confirm</el-button>
      </span>
  </el-dialog>
</template>

<script>
  import isUrl from 'validator/lib/isURL';

  export default {
    methods: {
      updateStory() {
        this.$refs.newStoryForm.validate((valid) => {
          if (!valid) {
            return false;
          }
          this.$emit('update-story', `${this.newStory.id.trim()}${this.newStory.url.trim() ? `|${encodeURIComponent(this.newStory.url.trim())}` : ''}`);
          this.dismissDialog();
          return true;
        });
      },
      dismissDialog() {
        this.newStory.id = '';
        this.newStory.url = '';
        this.$emit('dismiss-dialog', 'storyDialogVisible');
        this.$refs.newStoryForm.resetFields();
      }
    },
    name: 'StoryDialog',
    props: {
      isVisible: {
        type: Boolean,
        required: true
      }
    },
    data() {
      const requiredEmptySpaceCheck = (rule, value, callback) => {
        if (!value || !value.trim()) {
          callback(new Error('Value was empty or whitespace'));
        } else {
          callback();
        }
      };

      const validUrl = (rule, value, callback) => {
        if (!value || isUrl(value)) {
          callback();
        }
        callback(new Error('Value was an invalid url'));
      };

      return {
        newStory: {
          id: '',
          url: ''
        },
        rules: {
          id: [
            { validator: requiredEmptySpaceCheck, message: 'Please provide a story ID', trigger: 'blur' }
          ],
          url: [
            { validator: validUrl, message: 'Please provide a valid URL', trigger: 'blur' }
          ]
        }
      };
    }
  };
</script>
